      <footer class="footer">
          <div class="container">
              <div class="bottom-footer">
                  <div class="row">
                      <div class="col-xs-12 col-sm-3 payment-options color-gray">
                          <h5>Optiuni Plata</h5>
                          <ul>
                              <li>
                                <a href="#"> <img src="images/paypal.png" alt="Paypal"> </a>
                              </li>
                              <li>
                                  <a href="#"> <img src="images/mastercard.png" alt="Mastercard"> </a>
                              </li>
                              <li>
                                  <a href="#"> <img src="images/maestro.png" alt="Maestro"> </a>
                              </li>
                              <li>
                                  <a href="#"> <img src="images/stripe.png" alt="Stripe"> </a>
                              </li>
                              <li>
                                  <a href="#"> <img src="images/bitcoin.png" alt="Bitcoin"> </a>
                              </li>
                          </ul>
                      </div>
                      <div class="col-xs-12 col-sm-4 address color-gray">
                          <h5>Contact</h5>
                          <p>Strada:Mihai Eminescu,Nr. 4</p>
                          <p>Phone: +40728965457</p>
                          <p>foodsupport@gmail.com</p>
                      </div>
                      <div class="col-xs-12 col-sm-5 additional-info color-gray">
                          <h5>Informatii aditionale</h5>
                          <p>Alege din sutele de rastaurante partenere!</p>
                      </div>
                      <div class="col-xs-12 col-sm-5 extra-links color-gray">
                        <h5>Extra links</h5>
                        <div class="terms">
                        <a href="pagina-termeni-si-conditii.html">Termeni și condiții</a></div>
                        <div class="policy">
                        <a href="politica-de-confidentialitate.html">Politica de confidentialitate</a></div>
                        <div class="social-links">
                        <a href="#" class="fa fa-facebook"></a>  
                        <a href="#" class="fa fa-instagram"></a>
                        <a href="#" class="fa fa-twitter"></a>   
                        </div>
                    </div>
                  </div>
              </div>
          </div>
      </footer>